# Keep text files consistent across operating systems
* text=auto

# Python
*.py text eol=lf

# SQL
*.sql text eol=lf

# Markdown
*.md text eol=lf

# Jupyter notebooks
*.ipynb text eol=lf

# CSV
*.csv text eol=lf
